html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
}

#app {
    display: block;
    max-width: 100%;
    min-width: 960px;
    height: 100%;
    position: relative;
}

/*.crumb a*/
/*{*/
    /*text-indent: 30px;*/
    /*color: #000;*/
/*}*/

header, .stage, footer {
    min-width: 960px;
}

header ul,
header ul li{
    height:32px;
    vertical-align: middle;
    line-height: 32px;
}

header {
    position: fixed;
    width: 100%;
    z-index:2;
}

    header .main-navigation{
        text-align: right;
        width:100%;
        position: relative;
    }

        header .main-navigation li,
        header .illustration-nav li,
        header .context-bar li
        {
            display: inline-block;
            text-align: right;
            padding-right: 20px;
        }

        header .main-navigation li:first-child {
            text-align: left;
            position: absolute;
            left:20px;
        }

    header .illustration-nav,
    header .context-bar,
    header .title-bar
    {
        position: relative;
        padding: 0;
        margin: 0;
        list-style: none inside none;
    }

        header .illustration-nav li,
        header .context-bar li{
            display: inline-block;
            padding: 0 0 0 20px;
            margin: 0;
        }

            header .illustration-nav li a,
            header .context-bar li a{
                text-transform: capitalize;
            }

                header .context-bar li{
                    padding: 0 0 0 0;
                }

                header .context-bar li:first-child{
                    padding: 0 0 0 20px;
                }


                /*header .context-bar li a:after{*/
                    /*content: "/";*/
                    /*padding: 0 2px 0 5px;*/
                /*}*/

                /*header .context-bar li:last-child a:after{*/
                    /*content: "";*/
                /*}*/

                header .context-bar li:last-child{
                    float: right;
                }

                header .context-bar li .position{
                    margin-right: 20px;
                }


    header .sorting-controls {
        position: relative;
    }

        header .sorting-controls li {
            display: inline-block;
            text-align: left;
            margin: 0 0 0 0;
            padding: 0 0 0 10px;
        }

            /*header .sorting-controls li a{*/
            /*}*/

            header .sorting-controls li a.active{
                background: #fff;
                padding:5px 10px;
                border-radius: 15px;
            }

header .title-bar {
    padding: 0px 10px 0px 20px;
    vertical-align: middle;
    margin-top: 0;
    position: relative;
    overflow-x: hidden;
    min-height: 32px;
}

.title-bar .title-text{
    vertical-align: middle;
    line-height: 32px;
}

.stage {
    position: absolute;
    margin: 0;
    display: block;
    vertical-align: middle;
    text-align: center;
    top:33px;
    width:100%;
    opacity: 0;
}

.stage .sub-categories {
    margin:0 auto;
    text-align: left;
    margin-bottom:40px;
    padding-bottom: 40px;
    letter-spacing: -4px;
}

.stage .sub-categories li {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin : 10px 0 0 10px;
    letter-spacing: 0px;

}

.stage .clients li {
    width: 220px;
    height: 220px;
    padding: 10px;
}

.stage .projects li {
    width: 240px;
    height: 240px;
}

.stage .illustration {
    position: relative;
    left: 0;
}

.illustrationBrowser {
    max-width: 100%;
    overflow: hidden;
}

.illustrationBrowser ul.illustrations {
    width: auto;
    position: relative;
    margin: 0;
    padding: 0;
    text-align: left;
}

.illustrationBrowser ul.illustrations li {
    display: inline-block;
    text-align: left;
    margin:0;
    padding: 0;
    list-style: none;
    list-style-position: inside;
    list-style-type: none;
    position: relative;
    vertical-align: top;
    letter-spacing: -4px
}
.illustrationBrowser ul.illustrations li *{
    letter-spacing: 0;
}


.illustrationBrowser ul.illustrations li img {
    margin: 10px;
    vertical-align: top;
}

.zoomimage{
    display: inline-block;
    width:60px;
    height:60px;
    margin: 10px 0;
    vertical-align: top;
}

.illustration-thumbnails {
    margin-top: 0px;
    margin-right: 10px;
    letter-spacing: -4px;/* HACK: webkit adds a 4px gap all on it's own for some reason*/
    margin-bottom: 40px;
}

    .stage .illustration-thumbnails li{
        display:inline-block;
        margin-left: 10px;
        margin-top: 10px;
        text-align: center;
    }

    .stage .illustration-thumbnails li a{
        position:relative;
        display: block;
        text-align: center;
    }

    .stage .illustration-thumbnails li a img{
        vertical-align: top;
        max-width: 240px;
        max-height: 240px;
     }

    .stage .illustration-thumbnails li a span{
        position: absolute;
        top:10px;
        left:10px;
        letter-spacing: 0;
        display:none;
    }

.click-plate{
    position: fixed;
    top:0;
    left:0;
    opacity: 0.9;
    width:100%;
    height:100%;
    display:none;
}

.controls .share {
    bottom: 50px;
    right: 20px;
    overflow: hidden;
    display:none;
}

.controls .share,
.controls .nextPrevious,
.controls .position
{
    position: fixed;
    vertical-align: middle;
}


.controls .sharethis-buttons-container {
    max-height: 80px;
    overflow-x: hidden;
    float: left;
    padding-right:0px;
    margin-right:0px;
    position: relative;
    left:500px;
}

.controls .share .sharethis-item{
    display: block;
    width: 60px;
    height:60px;
    margin: 10px 10px 0 0;
    float:left;
}

.controls .sharethis-menu-toggle{
    display:block;
    width: 60px;
    height: 60px;
    float: right;
    vertical-align: middle;
    margin-top:10px;
    position: relative;
    z-index: 8;
}

.controls .sharethis-menu-toggle span{
    display:none;
}

.controls .nextPrevious {
    top: 106px;
    right: 20px;
    width: 60px;
    height: 130px;
    display: none;
}

.controls .position{
    top: 260px;
    right: 25px;
    display: none;
}

.controls a.previous,
.controls a.next {
    position: absolute;
    width:60px;
    height:60px;
}

.controls a.previous {
    bottom: 0;
}

.controls a.next {
    top: 0;
}

.fullsize-image {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    vertical-align: middle;
    text-align: left;
    z-index: 16;
}

.fullsize-image img {
    /*position: absolute;*/
    max-height: 92%;
    max-width: 92%;
    /*left:10px;*/
    /*top:10px;*/
    margin:10px;
}

footer {
    position: fixed;
    display: block;
    width: 100%;
    bottom: 0px;
}

footer .footer-bar{
    margin: 0 10px 10px 10px;
    vertical-align: middle;
}
        footer .tags{
            padding: 0 10px 0 10px;
            margin: 5px 0 10px 0;
        }

        footer .tags li{
            display: inline-block;
            vertical-align: middle;
            height:16px;
            margin: 5px 0 5px 5px;
            padding-left: 15px;
        }

        footer .tags li a{
            vertical-align: middle;
        }


/* page specific */
/* home page */

/* ---- GRID ---- */
.grid{
    display:block;
    vertical-align: top;
    margin:0;
    width:1020px;
    height:710px;
    margin: 10px 0 0 10px;
}

.grid .text-container{
    display: block;
    padding:10px;

}

    .grid .square{
        text-align: left;

    }

    .grid .top-strip{
        height:490px;
    }

        .grid .top-strip .square{
            display:block;
            vertical-align: top;
            padding: 0;
            margin: 0 10px 0px 0;
            width:490px;
            height:490px;
            float:left;
            background: transparent;
            color:#fff;
            text-align: left;
        }

        .grid .top-strip>.square:last-child{
            margin: 0;
        }

        .grid .top-strip .square .square{
            margin: 0px 0px 10px 0;
            padding: 0;
            width:240px;
            height:240px;
        }

        .grid .top-strip .square .square:nth-child(odd){
            margin: 0px 10px 10px 0;
        }

        .grid .top-strip .square .square.container .square{
            margin: 0 0 0 0;
        }

    .grid .square .square .square{
        background-color: #000;
        color:#fff;
        margin: 10px 0 0 10px;
        padding: 0;
        width:115px;
        height:115px;
    }

    .grid .homepage-quote .text-container{
        padding: 0;
    }

    .grid .bottom-strip{
        height:33%;
    }


        .grid .bottom-strip .square{
            display: block;
            float: left;
            height:240px;
            width:240px;
            background-color: transparent;
            color:#fff;
            margin: 10px 10px 0 0;
        }

        .grid .bottom-strip .square .square{
            display: block;
            height:49%;
            width:49%;
            margin:0 0 0 0;
            padding:0;
        }

        .grid .bottom-strip .square .square.empty{
            background: transparent;
        }

    .grid .square .square.no-image,
    .grid .square.no-image{
        background: #000;
        color: #fff;
    }

    .grid .square .square.no-square{
        background: transparent;
        color: #000;
    }

    .grid .top-strip .square .square .square.top-left,
    .grid .top-strip .square .square .square.bottom-left{
        margin-right:4%;
    }

    .grid .top-strip .square .square .square.bottom-left,
    .grid .top-strip .square .square .square.bottom-right
    {
        margin-top:4%;
    }


/* Contact */

section.about,
section.downloads-page,
.contact-page{
    width:1000px;
    text-align: left;
    margin-left:10px;
    margin-bottom:40px;
}

section.about img{
    float:left;
    margin:  0 10px 10px 0;
}

section.about .icons{
    width:500px;
    display: inline-block;
}

section.about .editorial-comment{
    display: inline-block;
    width:465px;
    margin-top: 0px;
    padding-bottom:40px;
    margin-right: 0px;
    vertical-align: top;
}

section.about .editorial-comment div{
    display: inline-block;
    width:220px;
    vertical-align: top;
}

section.about .editorial-comment div:first-child{
    margin-right:10px;
}

/*section.about .editorial-comment div:last-child{*/
/*}*/


.contact-page .column{
    display:inline-block;
    height:100%;
    vertical-align: top;
}

.contact-page .column.x3{
    width:490px;
    margin-right: 10px;
}

.contact-page .column.x2{
    width:240px;
    margin-right: 10px;
}

.contact-page .column.x1{
    width:115px;
}

.contact-page .column.x1 img:first-child{
    margin-bottom:5px;
}

.contact-page .hcard{
    height:240px;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 10px;
    width:225px;
}

.contact-page .hcard .type{display:none;}

.contact-page .hcard div{
    margin-bottom:20px;
}
.contact-page .hcard span{
    display: block;
}

/* downloads-page*/

.downloads-page div{
    float:left;
    margin-right: 10px;
    width:240px;
}

.downloads-page div a:hover{
    opacity: 0.8;
}

.downloads-page div p{
    padding: 5px;
    line-height: 1.75em;
}
.downloads-page div .file-info{
    display: block;
}

#notSupported{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.9);
    vertical-align: middle;
    text-align: center;
    color: #fff;
    z-index: 100000000;
    padding-top:20px;
}

.site-description{
    display: none;
    position:absolute;
    z-index: -999999;
    left:-999999px;
    height:0;
    width:0;
}
/*Smartphones (portrait and landscape) ----------- */
@media only screen
and (orientation : landscape){
    .illustrationBrowser {
        height: 75%;
        width: 900px;
    }

    .illustrationBrowser li img{
        max-height: 480px;
    }
}


@media only screen
and (orientation : portrait){
    .illustrationBrowser {
        height: 90%;
        width: 900px;
    }

    .illustrationBrowser li img{
        max-height: 480px;
    }
}


@media screen and (min-width: 1025px) {
    .illustrationBrowser {
        height: 100%;
        width: 100%;
    }

    .illustrationBrowser li img{
        max-height: 800px;
    }
}

.page-loading{
    position: absolute;
    z-index: 1000;
    width:60px;
    height:60px;
    left:50%;
    top:50%;
}

.page-loading span{
    display:none;
}