section.about {
  text-align: left;
  padding:10px;
}

section.about .editorial-comment p,
section.about .editorial-comment blockquote{
  line-height: 1.75;
  margin-bottom:10px;
}

section.about .editorial-comment blockquote{
  /*padding: 10px;*/
  /*color: #aaa;*/
}

section.about .icons a{
  background:url('../img/all-icon-about.png');
  display: block;
  float:right;
  width: 240px;
  height: 240px;
  margin-right: 10px;
  transition: opacity 0.3s ease-in-out;
}

section.about .icons a:hover{
  opacity: 0.8;
}

section.about .icons a span{
  display: block;
  padding: 10px;
  color:#fff;
}

section.about img{
  float:left;
  margin:  0 10px 10px 0;
}

section.about .icons{
  width:500px;
  display: inline-block;
}

section.about .editorial-comment{
  display: inline-block;
  width:465px;
  margin-top: 0px;
  padding-bottom:40px;
  margin-right: 0px;
  vertical-align: top;
}

section.about .editorial-comment div{
  display: inline-block;
  width:220px;
  vertical-align: top;
}

section.about .editorial-comment div:first-child{
  margin-right:10px;
}


@media @media-tablet-p{

  section.about{
    & .icons{
      width:33%;

      a, img{
        box-sizing: border-box;
        max-width: 240px;
      }

      a {
        margin-right:7px;
      }
    }
  }

}

@media @media-phone{

  #app section.about.editorial-content a {
    background: url("/img/all-icon-about.png") !important;
    background-size: 145px 145px !important;
    display: block !important;
    float: right;
    margin: 0;
    box-sizing: border-box;
  }

  #app section.about.editorial-content .icons{
    margin-bottom:0;    
    padding-bottom:0;
  }

  #app section.about.editorial-content a,
  #app section.about.editorial-content img{
    width: 145px;
    height: 145px;
    max-width: 145px;
    max-height: 145px;
    min-width: 145px;
    min-height: 145px;

  }

  #app section.about.editorial-content .editorial-comment{
    padding-top:0;
    margin-top:0;
  }

}