  /* -- contact -- */
  .contact-page .hcard a{
    color:#ddd;
    line-height: 1.75;
  }

  .contact-page .hcard a:hover{
    color:#ee4035;
    transition: color 0.3s ease-in-out;
  }


  .contact-page .hcard .adr{
    line-height: 1.75;
  }

  .contact-page .column{
    display:inline-block;
    height:100%;
    vertical-align: top;
  }

  .contact-page .column.x3{
    width:490px;
    margin-right: 10px;
  }

  .contact-page .column.x2{
    width:240px;
    margin-right: 10px;
  }

  .contact-page .column.x1{
    width:115px;
  }

  .contact-page .column.x1 img:first-child{
    margin-bottom:5px;
  }

  .contact-page .hcard{
    height:240px;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 10px;
    width:225px;
  }

  .contact-page .hcard .type{display:none;}

  .contact-page .hcard div{
    margin-bottom:20px;
  }
  .contact-page .hcard span{
    display: block;
  }