  /* downloads-page*/

  .downloads-page div{
    float:left;
    width:240px;
    padding:10px 0px 10px 10px;
  }

  .downloads-page div a:hover{
    opacity: 0.8;
  }

  .downloads-page div p{
    padding: 5px;
    line-height: 1.75em;
  }
  .downloads-page div .file-info{
    display: block;
  }

  @media @media-phone {
    #app .downloads-page.editorial-content{
      margin-left: 10px;  
    }
    
    #app .editorial-content.downloads-page div{
      float:left;
      width:145px;
      padding:0;
      margin:0;
      

      & > span,
      & > p{
        display:none;
      }
    }

    #app .editorial-content.downloads-page div:nth-child(odd){
      margin: 0 10px 0 0;
    }

    #app .editorial-content.downloads-page div:nth-child(even){
      margin-right:10px;
    }

    #app .editorial-content.downloads-page div:nth-child(3){
     margin-top:7px; 
    }

  }