  /* downloads-page*/

  .downloads-page div{
    float:left;
    margin-right: 10px;
    width:240px;
  }

  .downloads-page div a:hover{
    opacity: 0.8;
  }

  .downloads-page div p{
    padding: 5px;
    line-height: 1.75em;
  }
  .downloads-page div .file-info{
    display: block;
  }