
#shareControls{
	bottom:50px;
	//display:none;
	height:58px;
	overflow:hidden;
	position:absolute;
	right:10px;
	width:58px;
	transition: width ease-in-out 0.3s;
	z-index: 30;

	.sharethis-toggle,
	.sharethis-item{
		box-sizing:border-box;
		display:inline-block;
		height:58px;
		margin:0 10px 0 0;
		opacity: 0.145;
		overflow: hidden;
		padding:0;
		width:58px;
		.button;

		& > span,
		& > span{
			display:none;
		}
	}

	.sharethis-toggle{
		background: transparent url('img/share.png');
		margin-right:0;
		position:absolute;
		right:0;
		z-index:35;
	}

	.sharethis-buttons-container{
		display:inline-block;
		position:absolute;
		font-size:0;
		left:58px;
		transition: right ease-in-out 0.3s;

		& .sharethis > span:last-child .sharethis-item{
			margin-right:0;
		};

		.sharethis-item.facebook {
		  background: transparent url('img/share-fb.png') 0 0;
		}

		.sharethis-item.twitter {
		  background: transparent url('img/share-twitter.png') 0 0;
		}

		.sharethis-item.email {
		  background: transparent url('img/share-email.png') 0 0;
		}

		.sharethis-item.sharethis {
		  background: transparent url('img/share-more.png') 0 0;
		}
	}
}

#shareControls.open{
	width:330px;
	.sharethis-buttons-container{
		left:0;
		right:0px;
	}
}

//State information?
#app.thumbsView #shareControls,
#app.browserView #shareControls{
	display:block;
}

@media @media-large{
	#shareControls{
		.sharethis-toggle,
		.sharethis-item{
			&:hover{
				opacity:1;
			}
		}	
	}	
}

@media @media-desktop{
	#shareControls{
		.sharethis-toggle,
		.sharethis-item{
			&:hover{
				opacity:1;
			}
		}	
	}	
}

@media @media-phone{
	#shareControls{
		bottom:5px;
		//display:none;
		display:block;
		height:58px;
		overflow:hidden;
		position:fixed;
		right:5px;
		width:58px;
		transition: height ease-in-out 0.3s;

		.sharethis-toggle,
		.sharethis-item{
			display:block;
			margin:0 0 5px 0 !important;
		}

		.sharethis-toggle{
			bottom:-0px;
			position:absolute;
			margin:0 0 0 0!important;
			right:0;
		}

		.sharethis-buttons-container{
			top:58px;
			left:auto;
			position:absolute;
			right:auto;
			width:58px;
		}
	}

	#shareControls.open{
		height:310px;
		width:58px;
		right:5px;
		.sharethis-buttons-container{
			top:0;
		}
	}

}
