@font-face {
  font-family: 'FuturaBold';
  src: url('./fonts/futura-std/futura-std-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaBold';
  src: url('./fonts/futura-std/futura-std-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaBold';
  src: url('./fonts/futura-std/futura-std-bold-oblique.otf') format('opentype');
  font-weight: normal;
  font-style: oblique;
}
@font-face {
  font-family: 'FuturaBook';
  src: url('./fonts/futura-std/futura-std-book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaBook';
  src: url('./fonts/futura-std/futura-std-book.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaBook';
  src: url('./fonts/futura-std/futura-std-book-oblique.otf') format('opentype');
  font-weight: normal;
  font-style: oblique;
}
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */

  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.grid a.square.fade {
  transition: opacity 0.1s ease-in-out;
}
.noopacity {
  opacity: 0;
}
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
body,
p,
a,
h1,
h2,
h3 {
  font: bold 12px  /  14px FuturaBold, "Arial Black", Helvetica, serif;
  text-decoration: none;
}
.large-text {
  font: bold 12px  /  14px FuturaBold, "Arial Black", Helvetica, serif;
}
.file-info,
.about .editorial-comment blockquote {
  font: normal 12px  /  14px FuturaBook, Arial, Helvetica, serif;
  text-decoration: none;
}
.home .homepage-quote {
  font: bold 20px / 28px FuturaBold, "Arial Black", Helvetica, serif;
}
.displaynone {
  display: none;
}
a {
  cursor: pointer;
}
a {
  transition: color 0.3s ease-in-out;
}
.controls {
  transition: all 0.4s ease-in-out;
}
.grid a.square {
  transition: all 0.3s ease-in-out;
}
.grid a:hover,
.illustration-thumbnails li:hover {
  opacity: 0.4;
  transition: opacity 0.4s ease-in-out;
}
.off {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.button,
.zoomimage {
  transition: opacity 0.4s ease-in-out;
}
.fullsize-image .loading-container .img {
  float: left;
}
.fullsize-image .loading-container .zoomoutlink:hover {
  opacity: 1;
}
html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
}
#app {
  display: block;
  max-width: 100%;
  height: 100%;
  position: relative;
}
header ul,
header ul li {
  height: 32px;
  vertical-align: middle;
  line-height: 32px;
}
header {
  width: 100%;
  z-index: 2;
}
header li a {
  transition: color 0.3s ease-in-out;
}
@media (max-width: 480px) {
  #app {
    max-width: 100%;
  }
}
.sprite {
  background-image: url('img/grundini-sprite-2.png');
  display: inline-block;
}
.sprite > span {
  position: absolute;
  left: -99999px;
}
.switch {
  background-position: -55px 0;
  height: 25px;
  width: 25px;
}
.switch.off {
  background-position: -80px 0;
}
.left-arrow {
  background-position: 0 0;
  height: 20px;
  width: 20px;
}
#mainNavSwitch {
  display: none;
}
/* common-nav */
.common-nav li {
  display: inline-block;
  text-align: right;
  padding-right: 10px;
}
header .common-nav li:first-child {
  padding-left: 10px;
}
/* common-info */
.common-info {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none inside none;
}
header .common-nav li:first-child {
  padding-left: 10px;
}
.common-info li {
  display: inline-block;
  padding: 0 0 0 20px;
  margin: 0;
}
.common-info li a {
  text-transform: capitalize;
}
@media (max-width: 480px) {
  #app header {
    top: 0;
    z-index: 15;
  }
  header .common-nav li:first-child {
    padding-left: 0;
  }
  #mainNavSwitch {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  #workSubMenuMobile {
    max-height: 440px;
    overflow: hidden;
    transition: max-height ease-in-out 0.3s, opacity ease-out 0.2s;
  }
  #workSubMenuMobile.closed {
    max-height: 0;
  }
  .mobile-submenu {
    display: block;
    margin: 0 -10px;
  }
  .mobile-submenu > ul {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
  }
  .mobile-submenu > ul > li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #000000;
    display: block;
    float: left;
    width: 50%;
    text-align: left;
  }
}
/* layouts */
section.about {
  text-align: left;
  padding: 10px;
}
section.about .editorial-comment p,
section.about .editorial-comment blockquote {
  line-height: 1.75;
  margin-bottom: 10px;
}
section.about .editorial-comment blockquote {
  /*padding: 10px;*/

  /*color: #aaa;*/

}
section.about .icons a {
  background: url('../img/all-icon-about.png');
  display: block;
  float: right;
  width: 240px;
  height: 240px;
  margin-right: 10px;
  transition: opacity 0.3s ease-in-out;
}
section.about .icons a:hover {
  opacity: 0.8;
}
section.about .icons a span {
  display: block;
  padding: 10px;
  color: #fff;
}
section.about img {
  float: left;
  margin: 0 10px 10px 0;
}
section.about .icons {
  width: 500px;
  display: inline-block;
}
section.about .editorial-comment {
  display: inline-block;
  width: 465px;
  margin-top: 0px;
  padding-bottom: 40px;
  margin-right: 0px;
  vertical-align: top;
}
section.about .editorial-comment div {
  display: inline-block;
  width: 220px;
  vertical-align: top;
}
section.about .editorial-comment div:first-child {
  margin-right: 10px;
}
@media (min-width:481px) and (max-width: 768px) {
  section.about .icons {
    width: 33%;
  }
  section.about .icons a,
  section.about .icons img {
    box-sizing: border-box;
    max-width: 240px;
  }
  section.about .icons a {
    margin-right: 7px;
  }
}
@media (max-width: 480px) {
  #app section.about.editorial-content a {
    background: url("/img/all-icon-about.png") !important;
    background-size: 145px 145px !important;
    display: block !important;
    float: right;
    margin: 0;
    box-sizing: border-box;
  }
  #app section.about.editorial-content .icons {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #app section.about.editorial-content a,
  #app section.about.editorial-content img {
    width: 145px;
    height: 145px;
    max-width: 145px;
    max-height: 145px;
    min-width: 145px;
    min-height: 145px;
  }
  #app section.about.editorial-content .editorial-comment {
    padding-top: 0;
    margin-top: 0;
  }
}
/* page specific */
/* home page */
/* ---- GRID ---- */
.grid {
  display: block;
  margin: 10px;
  position: relative;
  margin-bottom: 10px;
}
.grid .square {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  height: 235px;
  margin-bottom: 10px;
  margin-right: 10px;
  position: relative;
  width: 235px;
}
.grid .square img {
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.grid .big-square {
  height: 480px;
  width: 480px;
}
.grid .square .text-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  display: block;
  height: 100%;
  padding: 10px;
  position: relative;
  text-align: left;
  width: 100%;
  z-index: 10;
}
.grid .square.no-img {
  background-color: black;
  color: white;
}
.grid .bottom-strip .square .square {
  /*background-color: #fff;*/

  color: #000;
}
.grid .square .title {
  color: #000;
}
.grid a.no-square .title {
  margin-top: 10px;
}
.grid a.no-square .subtitle {
  padding: 0 0 0 10px;
}
.grid blockquote .subtitle {
  color: #000;
}
.grid .square.grundini-blue {
  background-color: #0072cf;
}
.grid .square .people-square {
  background: #000000 url('../img/people-square.png') no-repeat bottom left;
}
.grid .square.grundini-red {
  background-color: #ee4035;
}
.grid .all-work-square {
  background: #ee4035 url('../img/all-work-square.png') no-repeat bottom right;
}
.grid .downloads-square {
  background: url('img/download3.png');
}
.grid .oc-years-square {
  background: url('../img/oc-years-icon.png');
}
.grid .in-progress-square {
  background: url('../img/in-progress-icon.png');
}
.grid .grundini-favourites-square {
  background: url('../img/favourites-icon.jpg');
}
.grid .diagrams-square {
  background: url('../img/diagrams-icon.jpg');
}
.grid .buildings-square {
  background: url('../img/buildings-icon.jpg');
}
.grid .wacko-square {
  background: url('../img/wacky-icon.jpg');
}
.grid .letterforms-square {
  background: url('../img/letterforms-icon.jpg');
}
.grid .tech-square {
  background: url('../img/tech-icon.jpg');
}
.grid .buildings-square {
  background: url('../img/buildings-icon.jpg');
}
.grid .downloads-square .text-container {
  display: block;
}
.grid .epiphanes-square {
  background: url('../img/epiphany-icon.jpg');
}
.home .homepage-quote .subtitle {
  color: #ee4035;
}
.grid .square .text-container.inverted {
  color: black;
}
@media (max-width: 480px) {
  .grid {
    margin: 10px 0 0 10px;
    padding: 0;
    position: relative;
    top: -4px;
  }
  .grid .square {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    height: 145px;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 10px;
    overflow: hidden;
    padding: 0;
    width: 145px;
  }
  .grid .square:nth-child(even) {
    margin-left: 10px;
  }
  #app .grid .big-square {
    height: 300px;
    margin: 10px 0 0 0;
    width: 300px;
  }
  #app .grid .homepage-quote {
    height: auto;
    margin: 10px 0 0 0;
    width: 300px;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  .grid .square {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    height: 225px;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 10px;
    overflow: hidden;
    padding: 0;
    width: 225px;
  }
  .grid .square:nth-child(even) {
    margin-left: 10px;
  }
  #app .grid .big-square {
    height: 460px;
    margin: 10px 0 0 0;
    width: 460px;
  }
  #app .grid .homepage-quote {
    height: auto;
    margin: 10px 0 0 0;
    width: 460px;
  }
}
/* -- contact -- */
.contact-page .hcard a {
  color: #ddd;
  line-height: 1.75;
}
.contact-page .hcard a:hover {
  color: #ee4035;
  transition: color 0.3s ease-in-out;
}
.contact-page .hcard .adr {
  line-height: 1.75;
}
.contact-page .column {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
.contact-page .column.x3 {
  width: 490px;
  margin-right: 10px;
}
.contact-page .column.x2 {
  width: 240px;
  margin-right: 10px;
}
.contact-page .column.x1 {
  width: 115px;
}
.contact-page .column.x1 img:first-child {
  margin-bottom: 5px;
}
.contact-page .hcard {
  height: 240px;
  vertical-align: top;
  padding-top: 10px;
  padding-left: 10px;
  width: 225px;
}
.contact-page .hcard .type {
  display: none;
}
.contact-page .hcard div {
  margin-bottom: 20px;
}
.contact-page .hcard span {
  display: block;
}
@media (max-width: 480px) {
  .contact-page .column.x1,
  .contact-page .column.x2,
  .contact-page .column.x3,
  .contact-page .hcard {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    width: 50%;
  }
  .contact-page .hcard {
    font-size: 12px;
    padding-top: 0;
    width: 100%;
  }
  .contact-page .column.x1 {
    position: absolute;
    right: 0;
    top: 0px;
  }
  .contact-page .column.x1 > a:nth-child(2) {
    position: relative;
    top: 10px;
  }
  .contact-page .column.x2 > a {
    display: none;
  }
}
/* downloads-page*/
.downloads-page div {
  float: left;
  width: 240px;
  padding: 10px 0px 10px 10px;
}
.downloads-page div a:hover {
  opacity: 0.8;
}
.downloads-page div p {
  padding: 5px;
  line-height: 1.75em;
}
.downloads-page div .file-info {
  display: block;
}
@media (max-width: 480px) {
  #app .editorial-content.downloads-page div {
    float: left;
    width: 150px;
    padding: 0;
    margin: 0;
  }
  #app .editorial-content.downloads-page div > span,
  #app .editorial-content.downloads-page div > p {
    display: none;
  }
  #app .editorial-content.downloads-page div:nth-child(odd) {
    margin: 0 10px 0 0;
  }
  #app .editorial-content.downloads-page div:nth-child(even) {
    margin-right: 10px;
  }
  #app .editorial-content.downloads-page div:nth-child(3) {
    margin-top: 7px;
  }
}
/* modules */
.stage {
  padding-bottom: 20px;
}
.stage .illustration-thumbnails li {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
}
.stage .illustration-thumbnails li a {
  position: relative;
  display: block;
  text-align: center;
}
.stage .illustration-thumbnails li a img {
  vertical-align: top;
  max-width: 240px;
  max-height: 240px;
}
.stage .illustration-thumbnails li a span {
  position: absolute;
  top: 10px;
  left: 10px;
  letter-spacing: 0;
  display: none;
}
.stage .sub-categories li {
  text-align: left;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.stage .illustrations li img {
  min-width: 66px;
  min-height: 66px;
  /*background: transparent url('./img/loading-000-80.gif') no-repeat 50% 50%;*/

  background: transparent url('./img/loading-eee.gif') no-repeat 50% 50%;
}
.stage .illustration-thumbnails li img {
  min-width: 66px;
  min-height: 66px;
  max-width: 250px;
  max-height: 250px;
  /*background: transparent url('./img/loading-000-80.gif') no-repeat 50% 50%;*/

  background: transparent url('./img/loading-eee.gif') no-repeat 50% 50%;
}
.stage .sub-categories li.thumbnail a {
  width: 220px;
  height: 220px;
  background-color: transparent;
  color: transparent;
  padding: 10px;
}
.stage .sub-categories li.thumbnail:hover a {
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
  position: relative;
}
.stage .sub-categories li a {
  display: block;
  color: #fff;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
}
.stage .clients li:hover {
  opacity: 0.4;
}
.stage .illustration {
  transition: all 0.3s ease-in-out;
}
.stage .illustration.off {
  opacity: 0;
}
.stage .illustration img {
  max-height: 55%;
  max-width: 90%;
}
.stage .illustration-thumbnails.off {
  opacity: 0;
}
.stage .illustration-thumbnails {
  width: 100%;
  height: 100%;
  max-height: 100%;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  text-align: left;
}
.stage {
  position: absolute;
  margin: 0;
  display: block;
  vertical-align: middle;
  text-align: center;
  top: 33px;
  width: 100%;
  opacity: 0;
}
.stage .sub-categories {
  margin: 0 auto;
  text-align: left;
  margin-bottom: 40px;
  padding-bottom: 40px;
  letter-spacing: -4px;
}
.stage .sub-categories li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 10px 0 0 10px;
  letter-spacing: 0px;
}
.stage .clients li {
  width: 220px;
  height: 220px;
  padding: 10px;
}
.stage .projects li {
  width: 240px;
  height: 240px;
}
.stage .illustration {
  position: relative;
  left: 0;
}
.loading-container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8) url('img/loading-000-80.gif') no-repeat 50% 50%;
}
.loading-container.loaded {
  background: rgba(0, 0, 0, 0.8);
}
.stage .projects.sub-categories li a:hover img {
  opacity: 0.4;
}
.stage .projects.sub-categories li a:hover span {
  display: inline !important ;
}
@media (max-device-width: 1024px) {
  .stage .projects.sub-categories li a:hover img {
    opacity: 1;
  }
  .stage .projects.sub-categories li a:hover span {
    display: none !important ;
  }
}
@media (max-device-width: 480px) {
  .stage .projects.sub-categories li a:hover img {
    opacity: 1;
  }
  .stage .projects.sub-categories li a:hover span {
    display: none !important ;
  }
}
@media (min-width: 481px) {
  .stage.stage-taggroupsview,
  .stage.stage-thumbsview,
  .stage.stage-projectview {
    top: 64px;
  }
  .stage.stage-browserview,
  .stage.stage-clientview {
    top: 98px;
  }
  .stage.stage-contentview {
    top: 98px;
  }
  .stage.stage-defaultview {
    top: 34px;
  }
}
@media (max-width: 480px) {
  .stage {
    position: relative;
    top: -6px;
    padding-bottom: 50px;
  }
  .stage-clientview {
    top: 0px;
  }
  .stage-projectview,
  .stage-taggroupsview,
  .stage-thumbsview {
    top: 0;
  }
  .stage .clients li {
    width: 125px;
    height: 125px;
  }
  .stage.stage-contentview {
    max-width: 100%;
    top: 0px;
  }
  .stage.stage-browserview {
    top: -38px;
  }
  .stage .sub-categories {
    overflow-x: hidden;
  }
  .stage .projects,
  .stage .illustration-thumbnails {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding-left: 10px;
  }
  .stage .illustration-thumbnails {
    margin-top: -40px;
  }
  .stage .projects li,
  .stage .illustration-thumbnails li {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    max-height: none;
    max-width: none;
    width: 50%;
    float: left;
  }
  .stage .illustration-thumbnails li,
  .stage .projects li {
    padding: 10px 10px 0px 0px;
  }
  .stage .projects li img,
  .stage .illustration-thumbnails li a img {
    width: 100%;
    height: auto;
    max-height: none;
    max-width: 100%;
  }
  .stage .projects.sub-categories li {
    background-color: transparent;
  }
}
.stage .projects.sub-categories li {
  position: relative;
}
.stage .projects.sub-categories li a span {
  display: none !important;
  position: absolute;
  left: 10px;
  top: 10px;
}
footer {
  background: #eee;
}
footer .footer-bar {
  border-top: 1px solid #cbcbcb;
}
footer .tags {
  list-style: disc;
  list-style-position: inside;
  list-style-type: disc;
}
footer .tags li {
  background: transparent url('img/list-disc.png') no-repeat left 50%;
}
footer .tags li:first-child {
  background: transparent;
  padding-left: 0;
}
footer .tags li a {
  color: #000;
  text-transform: capitalize;
}
footer .tags li a:hover {
  color: #ee4035;
}
@media (max-width: 480px) {
  footer .footer-bar {
    display: none !important;
  }
}
#illustrationControls {
  display: none;
  position: absolute;
  right: 10px;
  top: 110px;
  width: 58px;
  z-index: 20;
}
#illustrationControls .zoomout,
#illustrationControls .zoomin,
#illustrationControls .next,
#illustrationControls .overview,
#illustrationControls .previous {
  display: block;
  height: 58px;
  margin: 0 0 10px 0;
  overflow: hidden;
  padding: 0;
  width: 58px;
  transition: opacity 0.4s ease-in-out;
}
#illustrationControls .zoomout > span,
#illustrationControls .zoomin > span,
#illustrationControls .next > span,
#illustrationControls .overview > span,
#illustrationControls .previous > span {
  display: none;
}
#illustrationControls .zoomout.off,
#illustrationControls .zoomin.off,
#illustrationControls .next.off,
#illustrationControls .overview.off,
#illustrationControls .previous.off {
  display: none;
}
#illustrationControls .zoomout {
  background-image: url('img/zoomout.png');
  opacity: 0.8;
}
#illustrationControls .zoomin {
  background: transparent url('img/zoomin.png') no-repeat 0 0;
  opacity: 0.145;
}
#illustrationControls .next {
  background: url('img/next.png');
  opacity: 0.145;
}
#illustrationControls.at-start .previous,
#illustrationControls.at-end .next {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
#illustrationControls.at-start .previous:hover,
#illustrationControls.at-end .next:hover {
  opacity: 0;
}
#illustrationControls .overview {
  background-position: -114px 0;
  opacity: 0.145;
}
#illustrationControls .previous {
  background: url('img/previous.png');
  opacity: 0.145;
}
#app.browserView #illustrationControls {
  display: block;
}
@media (min-width: 1200px) {
  #illustrationControls .zoomout:hover,
  #illustrationControls .zoomin:hover,
  #illustrationControls .next:hover,
  #illustrationControls .overview:hover,
  #illustrationControls .previous:hover {
    opacity: 1;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  #illustrationControls .zoomout:hover,
  #illustrationControls .zoomin:hover,
  #illustrationControls .next:hover,
  #illustrationControls .overview:hover,
  #illustrationControls .previous:hover {
    opacity: 1;
  }
}
@media (max-width: 480px) {
  #illustrationControls {
    height: 58px;
    width: 100%;
    bottom: 5px;
    left: 5px;
    right: auto;
    top: auto;
  }
  #illustrationControls .zoomout,
  #illustrationControls .zoomin,
  #illustrationControls .next,
  #illustrationControls .overview,
  #illustrationControls .previous {
    display: inline-block;
    margin: 0 0 0 0;
  }
  #illustrationControls .overview {
    background-position: -114px -2px;
    opacity: 0.145;
  }
  #illustrationControls .next {
    position: relative;
    left: 125px;
  }
  #illustrationControls .previous {
    position: relative;
    left: -125px;
  }
}
#shareControls {
  bottom: 50px;
  display: none;
  height: 58px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  width: 354px;
  transition: width ease-in-out 0.3s;
  z-index: 30;
}
#shareControls .sharethis-buttons-container {
  display: inline-block;
  position: absolute;
  font-size: 0;
  transition: right ease-in-out 0.3s;
}
#shareControls .sharethis-buttons-container .sharethis-toggle,
#shareControls .sharethis-buttons-container .sharethis-item {
  box-sizing: border-box;
  display: inline-block;
  height: 58px;
  margin: 0 10px 0 0;
  opacity: 0.145;
  overflow: hidden;
  padding: 0;
  width: 58px;
  transition: opacity 0.4s ease-in-out;
}
#shareControls .sharethis-buttons-container .sharethis > span:last-child .sharethis-item {
  margin-right: 0;
}
#shareControls .sharethis-buttons-container .sharethis-toggle > span,
#shareControls .sharethis-buttons-container .sharethis-item > span {
  display: none;
}
#shareControls .sharethis-buttons-container .sharethis-toggle {
  background: transparent url('img/share.png');
}
#shareControls .sharethis-buttons-container .sharethis-item.facebook {
  background: transparent url('img/share-fb.png') 0 0;
}
#shareControls .sharethis-buttons-container .sharethis-item.twitter {
  background: transparent url('img/share-twitter.png') 0 0;
}
#shareControls .sharethis-buttons-container .sharethis-item.email {
  background: transparent url('img/share-email.png') 0 0;
}
#shareControls .sharethis-buttons-container .sharethis-item.sharethis {
  background: transparent url('img/share-more.png') 0 0;
}
#shareControls {
  width: 58px;
}
#shareControls .sharethis-buttons-container {
  right: -240px;
}
#shareControls.open {
  width: 354px;
}
#shareControls.open .sharethis-buttons-container {
  right: 0px;
}
#app.thumbsView #shareControls,
#app.browserView #shareControls {
  display: block;
}
@media (min-width: 1200px) {
  #shareControls .sharethis-buttons-container .sharethis-toggle:hover,
  #shareControls .sharethis-buttons-container .sharethis-item:hover {
    opacity: 1;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  #shareControls .sharethis-buttons-container .sharethis-toggle:hover,
  #shareControls .sharethis-buttons-container .sharethis-item:hover {
    opacity: 1;
  }
}
@media (max-width: 480px) {
  #shareControls {
    bottom: 5px;
    display: none;
    height: 58px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    width: 58px;
    transition: height ease-in-out 0.3s;
  }
  #shareControls .sharethis-toggle,
  #shareControls .sharethis-item {
    display: block;
    margin: 0 0 0 0 !important;
  }
  #shareControls .sharethis-buttons-container {
    bottom: -270px;
    right: -10px;
    transition: bottom ease-in-out 0.3s;
  }
  #shareControls.open {
    height: 354px;
    width: 58px;
    right: 5px;
  }
  #shareControls.open .sharethis-buttons-container {
    bottom: -8px;
  }
}
.context-bar {
  background-color: #fff;
  /*border-bottom: solid 1px rgba(100, 100, 100, 0.3);*/

  padding-left: 10px;
  padding-right: 10px;
}
.context-bar .seperator {
  color: #666;
}
.context-bar li {
  padding: 0 0 0 0;
}
.context-bar li:first-child {
  padding: 0 0 0 20px;
}
.context-bar li:last-child {
  float: right;
}
.context-bar li .position {
  margin-right: 20px;
}
@media (max-width: 480px) {
  .context-bar {
    display: none !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
  }
}
.sorting-controls {
  position: relative;
}
.sorting-controls li {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 0;
  padding: 0 0 0 10px;
}
.sorting-controls li a.active {
  background: #fff;
  padding: 5px 10px;
  border-radius: 15px;
}
header .sorting-controls li a {
  background: transparent;
  padding: 5px 10px;
  border-radius: 15px;
}
header .sorting-controls li a.active {
  background: #fff;
}
header .sorting-controls {
  background: #eee;
}
.title-bar {
  padding: 0px 10px 0px 20px;
  vertical-align: middle;
  margin-top: 0;
  position: relative;
  overflow-x: hidden;
  min-height: 32px;
}
.title-bar .title-text {
  vertical-align: middle;
  line-height: 32px;
}
@media (max-width: 480px) {
  .title-bar {
    padding-left: 10px;
  }
}
.main-nav {
  text-align: right;
  width: 100%;
  position: relative;
  min-height: 32px;
}
.main-nav ul {
  display: inline-block;
  text-align: right;
  padding-right: 20px;
}
.main-nav .home {
  display: inline-block;
  float: left;
  padding: 10px 0 0 20px;
  text-align: left;
}
/* themes */
.theme-standard header .main-nav {
  background: #000;
}
.theme-standard header .main-nav a {
  color: #fff;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.2s ease-in-out;
}
.theme-standard header .main-nav li.active a {
  color: #fff;
}
.theme-standard header .main-nav li a:hover {
  color: #ef4135;
}
.theme-dark header .main-nav {
  background: #000;
}
.theme-dark header .main-nav a {
  color: #fff;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.2s ease-in-out;
}
.theme-dark header .main-nav li.active a {
  color: #fff;
}
.theme-dark header .main-nav li a:hover {
  color: #ef4135;
}
.theme-light header .main-nav {
  background: #000;
}
.theme-light header .main-nav a {
  color: #fff;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.2s ease-in-out;
}
.theme-light header .main-nav li.active a {
  color: #fff;
}
.theme-light header .main-nav li a:hover {
  color: #ef4135;
}
@media (min-width: 481px) {
  .main-nav .left-arrow {
    display: none;
  }
}
@media (max-width: 480px) {
  .main-nav,
  .main-nav > .home,
  .main-nav > ul,
  .main-nav > ul > li,
  .main-nav > ul > li > a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
  }
  .main-nav > .home {
    float: none;
    padding-left: 10px;
  }
  .main-nav {
    line-height: 0;
    padding-left: 0;
  }
  .home .main-nav > ul,
  .main-nav > ul {
    height: auto;
    max-height: 440px;
    opacity: 1;
    overflow: hidden;
    position: relative;
    width: 100%;
    transition: max-height ease-in-out 0.3s, opacity ease-out 0.2s;
    z-index: 1032;
  }
  .main-nav ul.closed {
    max-height: 0px;
    padding: 0 10px;
    transition: max-height ease-in-out 0.3s, opacity ease-in 0s;
  }
  .main-nav > ul {
    background-color: #434446;
    padding: 0 10px;
  }
  .main-nav ul > li {
    border-bottom: solid 2px #5d5e5f;
    display: block;
    height: auto;
    padding: 0;
    position: relative;
    line-height: 40px !important;
    min-height: 40px;
  }
  .main-nav > ul > li > a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    line-height: 40px;
    min-height: 40px;
  }
  .main-nav .left-arrow {
    bottom: 12px;
    position: absolute;
    right: 3px;
  }
  .main-nav .left-arrow.open {
    background-position: -24px 0;
  }
}
header .illustration-nav {
  background: #eee;
  padding-left: 10px;
  /*border-bottom: solid 1px rgba(100, 100, 100, 0.3);*/

}
header .illustration-nav li {
  background: #eee;
}
header .illustration-nav li a:active,
header .illustration-nav li a {
  color: #666;
  transition: color 0.3s ease-in-out;
}
header .illustration-nav li.active a,
header .sorting-controls li a.active {
  color: #000;
}
header .sorting-controls li a {
  color: #666;
}
header .illustration-nav li a:hover,
header .sorting-controls li a:hover {
  color: #ee4035;
}
header .illustration-nav {
  height: 32px;
}
#workSubMenuMobile > .illustration-nav > ul {
  height: auto;
}
@media (max-width: 480px) {
  .illustration-nav {
    height: auto !important;
    padding: 0 !important;
  }
  .illustration-nav > ul {
    padding: 0;
  }
  .main-nav .illustration-nav {
    background-color: #575656;
  }
  .main-nav .illustration-nav li {
    background-color: #575656;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin: 0 10px;
    padding: 0;
    text-align: left;
    width: 140px !important;
  }
  .main-nav .illustration-nav li:first-child {
    padding-left: 0;
  }
  .main-nav .illustration-nav li:last-child {
    border-bottom: none 0px transparent;
  }
  .main-nav > ul > li > a,
  .main-nav .illustration-nav li a {
    color: white !important;
    font-weight: normal;
  }
}
.illustrationBrowser {
  max-width: 100%;
  overflow: hidden;
}
.illustrationBrowser ul.illustrations {
  width: auto;
  position: relative;
  margin: 0;
  padding: 0;
  text-align: left;
}
.illustrationBrowser ul.illustrations li {
  display: inline-block;
  text-align: left;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-position: inside;
  list-style-type: none;
  position: relative;
  vertical-align: top;
  letter-spacing: -4px;
}
.illustrationBrowser ul.illustrations li * {
  letter-spacing: 0;
}
.illustrationBrowser ul.illustrations li img {
  margin: 10px;
  vertical-align: top;
}
@media only screen and (orientation: landscape) {
  .illustrationBrowser {
    height: 75%;
    width: 900px;
  }
  .illustrationBrowser li img {
    max-height: 480px;
  }
}
@media only screen and (orientation: portrait) {
  .illustrationBrowser {
    height: 90%;
    width: 900px;
  }
  .illustrationBrowser li img {
    max-height: 480px;
  }
}
@media screen and (min-width: 1025px) {
  .illustrationBrowser {
    height: 100%;
    width: 100%;
  }
  .illustrationBrowser li img {
    max-height: 800px;
  }
}
@media (max-width: 480px) {
  .illustrationBrowser {
    margin-top: 40px;
  }
}
.zoomimage {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 10px 0;
  vertical-align: top;
}
.illustration-thumbnails {
  margin-top: 0px;
  margin-right: 10px;
  letter-spacing: -4px;
  /* HACK: webkit adds a 4px gap all on it's own for some reason*/

  margin-bottom: 40px;
}
.click-plate {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  display: none;
}
.fullsize-image {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  vertical-align: middle;
  text-align: left;
  z-index: 22;
}
.fullsize-image img {
  max-height: 92%;
  max-width: 92%;
  margin: 10px;
}
footer {
  position: fixed;
  display: block;
  width: 100%;
  bottom: 0px;
}
footer .footer-bar {
  margin: 0 10px 10px 10px;
  vertical-align: middle;
}
footer .tags {
  padding: 0 10px 0 10px;
  margin: 5px 0 10px 0;
}
footer .tags li {
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  margin: 5px 0 5px 5px;
  padding-left: 15px;
}
footer .tags li a {
  vertical-align: middle;
}
section.about,
section.downloads-page,
.contact-page {
  text-align: left;
  margin-bottom: 40px;
}
#notSupported {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9);
  vertical-align: middle;
  text-align: center;
  color: #fff;
  z-index: 100000000;
  padding-top: 20px;
}
.site-description {
  display: none;
  position: absolute;
  z-index: -999999;
  left: -999999px;
  height: 0;
  width: 0;
}
.pageLoading {
  position: fixed;
  z-index: 9999;
  width: 60px;
  height: 60px;
  left: 50%;
  top: 50%;
  display: none;
}
.pageLoading span {
  display: none;
}
@media (min-width: 480px) {
  .contact-page {
    padding: 10px 0 0 10px;
  }
}
@media (min-width:481px) and (max-width: 768px) {
  .contact-page .column.x1 img {
    margin: 0;
    padding: 10px 10px 0 0;
  }
}
@media (max-width: 480px) {
  header {
    position: relative;
  }
  .pageLoading {
    left: 140px;
    top: 210px;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  .pageLoading {
    left: 210px;
    top: 140px;
  }
}
body {
  transition: background-color 0.1s ease-in-out;
}
/* --- THEME STANDARD --- */
.theme-standard {
  background-color: #eee;
}
/* header */
.theme-standard header {
  background: #fff;
}
.theme-standard header .context-bar li a {
  color: #000;
}
.theme-standard header .context-bar li a:hover {
  color: #ef4135;
}
.theme-standard header .title-bar {
  background: #cbcbcb;
  color: #000;
}
.theme-standard stage {
  background: #fff;
  color: #000;
}
/* --- THEME DARK --- */
.theme-dark {
  background-color: #000;
  color: #fff;
}
.theme-dark header .app-navigation {
  background: #fff;
}
.theme-dark header .context-bar {
  background-color: #333;
}
.theme-dark header .context-bar li a {
  color: #fff;
}
.theme-dark header .context-bar li a:hover {
  color: #ef4135;
}
.theme-dark header .title-bar {
  background: #cbcbcb;
  color: #000;
}
.pageLoading {
  background: transparent url('img/loading-eee.gif') no-repeat;
  opacity: 0.5;
}
/* --- THEME LIGHT --- */
.theme-light {
  background-color: #eee;
}
.theme-light header .app-navigation {
  background: #fff;
}
.theme-light header .context-bar li a {
  color: #000;
}
.theme-light header .context-bar li a:hover {
  color: #ef4135;
}
.theme-light header .title-bar {
  background: #cbcbcb;
  color: #000;
}
.theme-standard .page-loading {
  background: transparent url('img/loading-eee.gif') no-repeat;
}
@media (max-width: 480px) {
  body,
  app {
    max-width: 100%;
  }
  section.editorial-content.about,
  section.editorial-content.downloads-page,
  .contact-page {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100% !important;
    margin: 0;
    padding: 0;
  }
  section.editorial-content.about > div,
  section.editorial-content.downloads-page > div,
  .contact-page > div {
    padding: 10px;
  }
  section.editorial-content.about img,
  section.editorial-content.downloads-page img,
  .contact-page img {
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  section.editorial-content.about > div,
  section.editorial-content.downloads-page > div,
  .contact-page > div,
  section.editorial-content.about > div.icons,
  section.editorial-content.downloads-page > div.icons,
  .contact-page > div.icons {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  section.editorial-content.about > div p,
  section.editorial-content.downloads-page > div p,
  .contact-page > div p,
  section.editorial-content.about > div.icons p,
  section.editorial-content.downloads-page > div.icons p,
  .contact-page > div.icons p {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
  section.editorial-content.about > div.icons,
  section.editorial-content.downloads-page > div.icons,
  .contact-page > div.icons {
    max-height: 100%;
    max-width: 100%;
  }
  section.about .editorial-comment {
    margin: 0;
    padding: 10px;
    padding-top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
  section.about .editorial-comment > div {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
}
#app.contentView .zoomimage,
#app.projectsView .zoomimage,
#app.clientsView .zoomimage,
#app.thumbsView .zoomimage,
#app.tagsGroupView .zoomimage {
  display: none;
}
#app.browserView .zoomimage {
  display: block;
}
@media (min-width: 480px) {
  
}
@media (max-width: 480px) {
  #app.contentView .zoomimage,
  #app.projectsView .zoomimage,
  #app.clientsView .zoomimage,
  #app.thumbsView .zoomimage,
  #app.tagsGroupView .zoomimage {
    display: none;
  }
}
#app.contentView .title-bar {
  display: none;
}
#app.contentView .sorting-controls {
  display: none;
}
#app.contentView .context-bar {
  display: block;
}
#app.contentView footer {
  display: none;
}
#app.loading .stage {
  opacity: 0 !important;
}
.stage {
  transition: opacity 0.3s ease-in-out;
}
#app.loading .pageLoading {
  display: block !important;
}
